@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model GradeCalculatorModel;

<form method="post" class="bg-light" id="calculator">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <div id="coursework">
                    <h2 class="legend">Enter Class Grades</h2>

                    <div class="row form-group">
                        <div class="col-6 col-sm-5"><p><strong>Grading Section</strong></p></div>
                        <div class="col-3"><p><strong>Grade</strong></p></div>
                        <div class="col-3"><p><strong>Weight</strong></p></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-6 col-sm-5">
                            <input class="form-control" type="text" value="Assignments" disabled />
                        </div>
                        <div class="col-3">
                            <input class="form-control" type="text" value="" placeholder="e.g. 90" id="assign" asp-for="assign" />
                        </div>
                        <div class="col-3">
                            <input class="form-control" type="text" value=".55" id="weight1" disabled />
                        </div>
                    </div>


                    <div class="row form-group">
                        <div class="col-6 col-sm-5">
                            <input class="form-control" type="text" value="Quizzes" disabled />
                        </div>
                        <div class="col-3">
                            <input class="form-control" type="text" value="" placeholder="e.g. 100 " id="quiz" asp-for="quiz" />
                        </div>
                        <div class="col-3">
                            <input class="form-control" type="text" value=".10" id="weight2" disabled />
                        </div>
                    </div>


                    <div class="row form-group">
                        <div class="col-6 col-sm-5">
                            <input class="form-control" type="text" value="Group Project" placeholder="" disabled />
                        </div>
                        <div class="col-3">
                            <input class="form-control" type="text" value="" placeholder="" id="group" asp-for="group" />
                        </div>
                        <div class="col-3">
                            <input class="form-control" type="text" value=".05" placeholder="" id="weight3" disabled />
                        </div>
                    </div>


                    <div class="row form-group">
                        <div class="col-6 col-sm-5">
                            <input class="form-control" type="text" value="Exams" placeholder="" disabled />
                        </div>
                        <div class="col-3">
                            <input class="form-control" type="text" value="" placeholder="" id="exam" asp-for="exam"/>
                        </div>
                        <div class="col-3">
                            <input class="form-control" type="text" value=".20" placeholder="" id="weight4" disabled />
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-6 col-sm-5">
                            <input class="form-control" type="text" value="INTEX" placeholder="" disabled />
                        </div>
                        <div class="col-3">
                            <input class="form-control" type="text" value="" placeholder="" id="intex" asp-for="intex" />
                        </div>
                        <div class="col-3">
                            <input class="form-control" type="text" value=".10" placeholder="" id="weight5" disabled />
                        </div>
                    </div>

                </div>

                <br />


                <div class="row">
                    <div class="col-sm-4">
                        <input type="submit" class="btn btn-success btn-block btn-lg" value="Calculate" id="submitButton" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-success" role="alert">
                            <p class="legend" id="result"></p>
                            <p></p>
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div asp-validation-summary="All"></div>
</form>
<!-- Footer-->
<script>

</script>